html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
    align-content: center;
    text-align: center;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
    text-align: center;
  }

  .HomeJum {
    margin-top: 50px;
  }
  .jumbotron {
    background-image: url('https://images.pexels.com/photos/984539/pexels-photo-984539.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    
  }