html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
    
    text-align: center;
  }
  ul {
    background-color: white;

  }
  .footer {

    background-color: white;
  }

.ProjectSec {
  margin-top: 59px;
  margin-left: 47px;
  margin-right:47px;
  
}

.about{ 
  text-align: center;
  color: white;
  font-size: 24px;
}
#ProjectBg {
  background-image: url('https://images.pexels.com/photos/2405637/pexels-photo-2405637.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover; 
}
#Project2 {
  float: right;
}
#bamazon {
 
  float: left;
}

.AboutSec {
  margin-top: 59px;
  margin-left: 47px;
  margin-right:47px;
}
#AboutPage {
  background-image: url('https://images.pexels.com/photos/371836/pexels-photo-371836.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  
}
#titlE{
  text-align: center;
  margin-top: 30px;
}